body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ticker {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 3rem;
  width: 20rem;
  padding: 0.4rem;
  border: 2px solid antiquewhite;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.7s;
}

.ticker:hover {
  cursor: pointer;
  transition: 0.7s;
  background-color: rgb(126, 122, 115);
  color: black;
}

h1 {
  font-size: 25px;
}
