body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
}

h1 {
  font-size: 25px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 25px;
}


/* Ticker */

.ticker {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 3rem;
  width: 20rem;
  padding: 0.4rem;
  border: 2px solid antiquewhite;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  background-color: transparent;
  cursor: pointer;
  transition: 1.2s;
}

.ticker:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 55%;
  
}


/* Light/Dark Theme */

.themeBtn {
  cursor: pointer;
}

.fa-moon {
  display: block;
  color: antiquewhite;
}
.light .fa-moon {
  display: none;
}

.fa-sun {
  display: none;
  }
.light .fa-sun {
  display: block;
  color: black;
}

.light *{
  background-color: antiquewhite;
  color: rgb(79, 71, 71);
 }

 .light .ticker {
  border: 2px solid rgb(49, 49, 49);
 }
